<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name = "Test"> <!-- thread-count="5" name="Test" -->
    <classes>
      <class name="test.TestNG.Test_Pack_02"/>
      
      
      <class name="test.TestNG.Test_ExtentReport"/>
      <!-- <class name="test.TestNG.Extend_Init"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
